.add-box {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.8);
  form {
    height: 400px;
    width: 400px;
    background: white;
  }
}

.hidden {
  display: none;
}