* {
  box-sizing: border-box;
}

article {
  height: 350px;
  width: 260px;
  background: white;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
}

.head-shot {
  height: 230px;
  width: 190px;
  object-fit: cover;
  border-radius: 20px;
}

h2,
h3 {
  font-size: 15px;
  margin: 5px;
}

h2 {
  color: #FF6347;
}

p {
  font-size: 12px;
  margin: 5px;
}

h3 {
  color: #6495EC;
}